* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

.App {
 text-align: center;
 display: flex;
 flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./img/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #558b2f;
  width: 50vw;
  border-radius: 10px;
}

.container-top {
  background-color: #33691e;
  border-bottom: 2px solid #254c15;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.boton {
  width: 30vh;
  height: 7vh;
  margin: 2px;
  font-size: 20px;
  background:#a5d6a7;
  user-select: none;
}

.boton:hover {
  background-color: #81c784;
}

.minecraft-logo {
  width: 50%;
  height: auto;
  padding-top: 10px;
}

.quiz-title {
  font-size: 2em;
}

.question {
  font-size: 2em;
  padding: 10px 5px;
}

footer {
  font-size: 25px;
  padding: 10px 0;
  background-color: #33691e;
  border-top: 2px solid #254c15;
  width: 100%;
  margin-top: 5px;
  border-radius: 0 0 10px 10px;
}

.correct {
  background: green !important;
  transition: all 0.4s;
}

.incorrect {
  background: red !important;
  transition: all 0.4s;
}

.container-finally {
  background-image: url("./img/b-finally.png");
  width: 60vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover;
}

.container-finally > img {
  width: 250px;
  height: auto;
}

.container-finally > button {
  width: 30vh;
  height: 7vh;
  margin: 2px;
  font-size: 20px;
  background:#33691e;
  margin-bottom: 20px;
}

.container-finally > h1 {
  padding: 20px;
}

.container-score > h1 {
  font-size: 3em;
}

.container-score {
  background-color: #33691e;
  border-bottom: 2px solid #254c15;
  border-radius: 10px 10px 0 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width:700px) {
  .container {
    width: 100vw;
  }
  .minecraft-logo {
    width: 300px;
    height: auto;
  }
  .container-finally {
    width: 100%;
  }
}